@CHARSET "ISO-8859-1";

.admin-page {
	background-image:url("bgimages/admin.jpg");
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  float: none;
  margin-left: 20px;
  margin-top: 30px;
  background-position: center;
  background-repeat: no-repeat;
  
}

body {
	
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  background-image:url("bgimages/admin.jpg"); 
}

button.button1 {
	background-color: orange;
	width: 200px;
	height: 70px;
	font-size: large;
	font-style: oblique;
}